body {
  background-image: url("sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  text-align: center;
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas2 {
  border: 1px solid rgb(253, 253, 253);
  border-radius: 30px;
}


